@model LoginViewModel

<div class="container-fluid registration-page p-0" id="login-page">
	<div class="container-fluid registration-page-bg">
		<div class="registration">
			<h1>Login</h1>

			<form method="post" asp-action="Authenticate" asp-controller="User">
				   <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" class="form-control" /> 
				<div class="registration-field">
					<input asp-for="Email" type="text" required>
					<label>Email</label>
				</div>
				<span asp-validation-for="Email"></span>

				<div class="registration-field">
					<input asp-for="Password" type="password" required>
					<label>Password</label>
				</div>
				<span it="password_span" asp-validation-for="Password"></span>

				<a href="#" id="forgot">Forgot Password?</a>

				<input type="submit" value="Login">
				
				<div id="link">
					Don’t have an account? <a asp-action="Signup" asp-controller="User">Signup</a>
				</div>
			</form>
		</div>
	</div>
</div>
