@model AppUser

<main role="main" class="probootstrap-main js-probootstrap-main">
	<div class="probootstrap-bar">
		<a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span><i class="fa-solid fa-bars"></i></span></a>
		<div class="probootstrap-main-site-logo"><a href="index.html">PhotoHome</a></div>
	</div>

	<div class="container-fluid">
		<div class="registration col-xl-6 mx-auto">
			<h1>Signup</h1>

			<form method="post">
				<div class="registration-field">
					@*<input asp-for="FirstName" type="text" required>*@
					<input type="text" required>
					<label>First name</label>
				</div>
				@*<span asp-validation-for="FirstName"></span>*@

				<div class="registration-field">
					@*<input asp-for="LastName" type="text" required>*@
					<input type="text" required>
					<label>Last name</label>
				</div>
				@*<span asp-validation-for="LastName"></span>*@

				<div class="registration-field">
					@*<input asp-for="Email" type="text" required>*@
					<input type="text" required>
					<label>Email</label>
				</div>
				@*<span asp-validation-for="Email"></span>*@

				<div class="registration-field">
					@*<input asp-for="Password" type="password" required>*@
					<input type="password" required>
					<label>Password</label>
				</div>
				@*<span asp-validation-for="Password"></span>*@

				<a href="#" id="forgot">Forgot Password?</a>

				<input asp-action="Signup" type="submit" value="Signup">
				<div id="link">
					Already have an account? <a asp-action="Login">Login</a>
				</div>
			</form>
		</div>
	</div>
</main>