@using PhotoHome.Models.Entity


@model User



 <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add Catagory </h3>


                    <form class="forms-sample" asp-action="AddUser" asp-controller="User" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label >FirstName</label>
                        <input asp-for="FirstName" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for=FirstName></span>
                          <label >LastName</label>
                        <input asp-for="LastName" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for=LastName></span>
                          <label >UserName</label>
                        <input asp-for="UserName" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for=UserName></span>
                          <label >Email</label>
                        <input asp-for="Email" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for=Email></span>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>

                    </form>
                  </div>
                </div>
              </div>