@*<div class="user">*@
    <summary role="button">
        <a href="#">A</a>
    </summary>
@*</div>*@

<details class="user-dropdown">
    <summary role="button">
        <a class="button"><i class="fa-solid fa-chevron-down"></i></a>
    </summary>
    <ul>
        <li><a href="#">I'm a dropdown.</a></li>
        <li><a href="#">In Pure CSS</a></li>
        <li><a href="#">As in...</a></li>
        <li><a href="#">No JavaScript.</a></li>
        <li><a href="#">At All.</a></li>
    </ul>
</details>