@using System.Security.Claims;

<div id="user-info">
	<div id="user-link">
		@{
			var claim = (ClaimsIdentity)User.Identity;
			var claims = claim.FindFirst(ClaimTypes.NameIdentifier);
		}
		<a href="#">@claim.Name.ToUpper().ToCharArray()[0]</a>
	</div>
	<div id="suggestions">
		<input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
		<label class="for-dropdown" for="dropdown"><i class="fa-solid fa-chevron-down"></i></label>
		<div class="section-dropdown">
			<a  asp-action="Created" asp-controller="User">Account</a>
			<a href="#">Settings</a>
			<a href="#">Privacy & Policy</a>
			<a asp-action="LogOut" asp-controller="User">Log out   </a>
		</div>
	</div>
</div>