@using System.Security.Claims;

<div id="user-info">
	<div id="user-link">
		@{
			var claim = (ClaimsIdentity)User.Identity;
			var claims = claim.FindFirst(ClaimTypes.NameIdentifier);
		}
		<a asp-action="Liked" asp-controller="User">@claim.Name.ToUpper().ToCharArray()[0]</a>
	</div>

	<div id="options">
		<input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />

		<label class="for-dropdown" for="dropdown">
			<i class="fa-solid fa-chevron-down"></i>
		</label>

		<div class="section-dropdown">
			<span>Account</span>
			<a asp-action="Liked" asp-controller="User" id="account">
				<div id="account-img">
					<div>A</div>
				</div>
				<div id="account-info">
					<div>username</div>
					<div>email</div>
				</div>
			</a>
			<span>Options</span>
			<a asp-action="Settings" asp-controller="User">Settings</a>
			<a href="#">Privacy & Policy</a>
			<a asp-action="LogOut" asp-controller="User">Log out</a>
		</div>
	</div>
</div>