@model List<string>

@foreach (var item in Model)
{
	<div class="card" id="image_card">
		<img class="card-img-top probootstrap-animate" src="@item" alt="Card image cap">

		<div class="card-div d-flex flex-column justify-content-between align-items-end">
			<div class="d-flex flex-row mt-3 mr-3">
				@if (User?.Identity?.IsAuthenticated ?? false)
				{
					<button class="card-div-btn bubbly-button mr-2" @* id="like" *@>
						<span class="like-span bubbly-button" id="@item" name="heart" onclick="likeClick(this)">
							<i class="fa-solid fa-heart"></i>
						</span>
					</button>
				}

				<button class="card-div-btn" id="download">
					<span class="DownloadButton" id="@item" onclick="get_span(this)">
						<i class="fa-solid fa-download"></i>
					</span>
				</button>
			</div>

			<div class="mb-3 mr-3 d-flex justify-content-end">
				<a asp-action="ImageInfo" asp-controller="Home" id="more">
					<span class="py-2 px-3">More</span>
				</a>
			</div>
		</div>
	</div>
}