@model AddImageViewModel

<div class="container-fluid">
	<div class="col-xl-10 mx-auto p-0" id="dragger_wrapper">
		<div class="col-xl-5 p-2 add-image">
			<div id="dragger">
				<div class="icon">
					<i class="fa-solid fa-images"></i>
				</div>
				<h3 id="drag-text">Drag and drop file</h3>
				<button class="py-1 px-3" id="browseFile" onclick="inputClick()">Browse</button>
				<input type="file" hidden id="fileInputField" asp-for="@Model.ImageUrl" />
				<input type="file" hidden id="zapas" asp-for="@Model.ImageUrl" />
			</div>
		</div>
		<div class="col-xl-7 p-2 add-details">
			<form method="post" asp-action="AddImage" asp-controller="Home" id="createImageForm" class="w-100 h-100 d-flex flex-row" enctype="multipart/form-data">
				<div class="col-xl-12">
					<div class="create-image">
						<div class="dropdown">
							<select asp-for=catagory_id asp-items=@ViewBag.Categories id="categorySelect" required></select><br />
						</div>
					</div>
					<div class="create-image">
						<input type="text" asp-for="Title" placeholder="Title" required />
					</div>
					<div class="create-image">
						<textarea asp-for="Description" cols="30" rows="3" placeholder="Description"></textarea>
					</div>

					<div class="create-image">
						<div class="wrapper">
							<div class="content">
								<p>Press <span>space</span> after each tag</p>
								<ul id="tagUl">
									<input id="tagInput" type="text" spellcheck="false" required>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-xl-6 mx-auto create-image">
						<input type="submit" value="Create">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts{
	<link rel="stylesheet" href="~/css/user/tinyselect.css">
	<script src="~/js/user/tinyselect.min.js"></script>

	<script>
		$("#categorySelect").tinyselect();
		$(".searchicon").html('<i class="fa-solid fa-magnifying-glass"></i>')
	</script>
}