@*<div class="container-fluid p-4">
	<div class="col-xl-10 col-lg-12 mx-auto">
		<div class="row">
			<div class="col-xl-12 col-lg-12" id="image-info">
				<div class="col-md-9" id="image-container">
					<img src="~/accessory2.jpg"/>
				</div>
				<div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
					
				</div>
			</div>
		</div>
	</div>
</div>*@

