@model List<string>

<div class="container-fluid p-3">
	<div class="d-flex mb-4" id="search-bar">
		<div class=" d-flex align-items-center border w-75 mr-5" id="search-div" tabindex="0">
			<div class="pl-3 pr-2" style="display:flex; align-items:center; justify-content:center;">
				<span class="text-primary">
					<i class="fa fa-search"></i>
				</span>
				@using (Html.BeginForm("Index", "Home", FormMethod.Post))
				{
					@Html.TextBox("searchPattern", null, new { style="width: 100%; margin-left:10px; border: none; background-color: #e6e6e6; outline:none"} )
				}
			</div>
		</div>
		<div class="d-flex justify-content-end align-items-center w-25">
			@{
				
				if (User.Identity.IsAuthenticated)
				{
					if (User.IsInRole("Admin"))
					{
						<partial name="BeforeRegistration" />
					}
					else{
						<partial name="AfterRegistration" />
					}
				}
				else
				{
					<partial name="BeforeRegistration" />
				}
			}
		</div>
	</div>

	<div class="mb-4">
		<div class="owl-carousel" id="category-carousel">
			@foreach (var item in ViewBag.Category)
			{
				<div class="item">
					<a href="@Url.Action("SearchCatagory", "Home", new { searchPattern = item.Name })">@item.Name.Substring(0, 10)</a>
				</div>
			}
		</div>
	</div>

	<div class="card-columns" id="divajaxCall">
		@await Html.PartialAsync("ImageList",Model)
	</div>
</div>


@section Scripts{
	<script src="~/js/user/index.js"></script>

	<script>
		$('.owl-carousel').owlCarousel({
			autoplay: true,
			autoplayTimeout: 1750,
			//autoplayHoverPause: true,
			loop: true,
			margin: 10,
			nav: true,
			responsive: {
				0: {
					items: 6
				},
				768: {
					items: 7
				},
				1000: {
					items: 8
				}
			}
		})

		$('.owl-prev').html('<span><i class="fa-solid fa-chevron-left"></i></span>')
		$('.owl-next').html('<span><i class="fa-solid fa-chevron-right"></i></span>')

		//different colored category carousel
		var arr = $('#category-carousel .item').children()

		$.each(arr, (index) => {
			var colorR = Math.floor((Math.random() * 200));
			var colorG = Math.floor((Math.random() * 200));
			var colorB = Math.floor((Math.random() * 200));

			$(arr[index]).css("background-color", "rgb(" + colorR + "," + colorG + "," + colorB + ")")
		})
	</script>
}
