@using PhotoHome.Models.Entity


@model List<Image> 


<main role="main" class="probootstrap-main js-probootstrap-main">
	<div class="probootstrap-bar">
		<a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span><i class="fa-solid fa-bars"></i></span></a>
		<div class="probootstrap-main-site-logo"><a href="index.html">Aside</a></div>
	</div>

	<div class="d-flex mb-4">
		<div class="searchdiv d-flex align-items-center border w-75 mr-5">
			<div class="pl-4 pr-3">
				<span class="text-primary">
					<i class="searchicon fa fa-search"></i>
				</span>
			</div>
			<form action="" class="w-100">
				<input type="search" class="h-75 form-control p-0 border-0" placeholder="Search">
			</form>
		</div>
		<div class="d-flex justify-content-end align-items-center w-25">
			<div class="signin rounded py-2 px-3 font-weight-bold text-uppercase text-primary">
				<a href="">login</a>
			</div>
			<div class="signin rounded py-2 px-3 font-weight-bold text-uppercase text-primary">
				<a href="">signup</a>
			</div>
		</div>
	</div>

	<div class="card-columns">
		
  @foreach (var item in Model)
        {
			<div class="card">
				<a href="single.html">
					<img class="card-img-top probootstrap-animate" src="@item.ImageUrl" alt="card image cap">
				</a>
			</div>

        }
		
	</div>
</main>