@model List<string>

<div class="container-fluid p-3">
	<div class="d-flex mb-4" id="search-bar">
		<div class=" d-flex align-items-center border w-75 mr-5" id="search-div" tabindex="0">
			<div class="pl-3 pr-2">
				<span class="text-primary">
					<i class="fa fa-search"></i>
				</span>
			</div>

			<form action="" class="w-100">
				<input type="search" class="form-control p-0 border-0" placeholder="Search">
			</form>
		</div>

		<div class="d-flex justify-content-end align-items-center w-25">
			@{
				if (User.Identity.IsAuthenticated)
				{
					<partial name="AfterRegistration" />
				}
				else
				{
					<partial name="BeforeRegistration" />
				}
			}
		</div>
	</div>
  <div class="card-columns"  id="divajaxCall" >
         @await Html.PartialAsync("ImageList",Model)
	</div>
</div>


@section Scripts{  
        <script src="~/js/user/index.js"></script>  
        <script type="text/javascript">   
	
            $(window).scroll(scrollHandler);  
        </script>  

	<script type="text/javascript">
		


let get_span = (ele) => {
    
    downloadImage(ele.id, "Image");
    var option = ele.id;

   
    $.ajax({
        type: "POST",
           url:"@Url.Action("Download","Home")" ,
        data: { Link: String(option) },
        success: function () {
            alert("good")
            $("#contact_form").html("<div id='message'></div>");
            $("#message")
                .html("<h2>Contact Form Submitted!</h2>")
                .append("<p>We will be in touch soon.</p>")
                .hide()
                .fadeIn(1500, function () {
                    $("#message").append(
                        "<img id='checkmark' src='images/check.png' />"
                    );
                });
        }

    });

    function downloadImage(url, name) {
        fetch(url)
            .then(resp => resp.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = name;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(() => alert('An error sorry'));
    }

}





const likeClick = (obj) => {


	var option = obj.id;

	$.ajax({
		type: "POST",
			url: "@Url.Action("Like","Home")" ,
		data: { Link: String(option) },
		success: function () {
			$("#contact_form").html("<div id='message'></div>");
			$("#message")
				.html("<h2>Contact Form Submitted!</h2>")
				.append("<p>We will be in touch soon.</p>")
				.hide()
				.fadeIn(1500, function () {
					$("#message").append(
						"<img id='checkmark' src='images/check.png' />"
					);
				});
		}
	});

    obj.classList.toggle("redHeart")
    alert(obj.target.id)


}

			</script>


}  
