@model List<Picture>

<div class="container-fluid p-3">
	<div class="d-flex mb-4" id="search-bar">
		<div class=" d-flex align-items-center border w-75 mr-5" id="search-div" tabindex="0">
			<div class="pl-3 pr-2">
				<span class="text-primary">
					<i class="fa fa-search"></i>
				</span>
			</div>
			@using(Html.BeginForm("Index","Home",FormMethod.Post)){
				@Html.TextBox("searchPattern")<input type="submit" id="find" class="form-control p-0 border-0" placeholder="Search">
			}
		
		</div>

		<div class="d-flex justify-content-end align-items-center w-25">
			@{
				if (User.Identity.IsAuthenticated)
				{
						<partial name="AfterRegistration" />
				}
				else
				{
						<partial name="BeforeRegistration" />
				}
			}
		</div>
	</div>

	<div class="mb-4">
		<div class="owl-carousel" id="category-carousel">
			@foreach (var item in ViewBag.Category)
			{
						<div class="item">
								<a href="@Url.Action("SearchCatagory" ,"Home" ,new { searchPattern = item.Name })">@item.Name</a>
				</div>
			}
		@*
			<div class="item">
				<a href="#">walpaper</a>
			</div>
			<div class="item">
				<a href="#">fruit</a>
			</div>
			<div class="item">
				<a href="#">nature</a>
			</div>
			<div class="item">
				<a href="#">human</a>
			</div>
			<div class="item">
				<a href="#">office</a>
			</div>
			<div class="item">
				<a href="#">food</a>
			</div>
			<div class="item">
				<a href="#">technology</a>
			</div>
			<div class="item">
				<a href="#">street</a>
			</div>
			<div class="item">
				<a href="#">mountain</a>
			</div>
			<div class="item">
				<a href="#">car</a>
			</div>*@
		</div>
	</div>

	<div class="card-columns" id="divajaxCall">
		@await Html.PartialAsync("ImageList",Model)
	</div>
</div>


@section Scripts{
	<script src="~/js/user/index.js"></script>

	<script type="text/javascript">
		$(window).scroll(scrollHandler);
	</script>

	<script type="text/javascript">

	
	</script>
}
